# Interacting with Database By Sqlite

In [7]:
import sqlite3

In [8]:
#connect to the database
con=sqlite3.connect('myoffice1.db')

In [9]:
cursorObj=con.cursor()

In [10]:
#step:3use the execute method to run sql query
#in this example we are going to create a table 
cursorObj.execute('CREATE TABLE IF NOT EXISTS myoff(rollno INTEGER,name TEXT,gpa INT)')
con.commit()

In [11]:
cursorObj.execute('SELECT*FROM myoff')

In [ ]:
cursorObj.execute('INSERT INTO myoff values(101,"Ramesh",9)')

In [102]:
def insert(r,n,g):
    cursorObj.execute('INSERT INTO myoff values(?,?,?)',(r,n,g))
    con.commit()
    con.close()

In [83]:
insert(102,"Suresh",8.9)

In [26]:
def view():
    conn=sqlite3.connect('myoffice1.db')
    cur=conn.cursor()
    cur.execute('SELECT *FROM myoff')
    rows=cur.fetchall()
    conn.close()
    return rows

In [73]:
view()

[(101, 'Ramesh', 9),
 (102, 'Suresh', 8.9),
 (101, 'Ramesh', 9),
 (102, 'Suresh', 8.9),
 (101, 'Ramesh', 9),
 (102, 'Suresh', 8.9)]

In [88]:
insert(103,'mahesh',9.6)

In [69]:
view()

[(101, 'Ramesh', 9),
 (102, 'Suresh', 8.9),
 (101, 'Ramesh', 9),
 (102, 'Suresh', 8.9),
 (101, 'Ramesh', 9),
 (102, 'Suresh', 8.9)]

In [53]:
def view1(n):
    conn=sqlite3.connect('myoffice1.db')
    cur=conn.cursor()
    cur.execute('SELECT*FROM myoff where gpa>=?',(n,))
    rows=cur.fetchall()
    conn.close()
    return rows

In [54]:
view1(9)

[(101, 'Ramesh', 9), (101, 'Ramesh', 9)]

In [12]:
def view2(n1,n2):
    conn=sqlite3.connect('myoffice1.db')
    cur=conn.cursor()
    cur.execute('SELECT*FROM myoff where gpa>? and gpa<?',(n1,n2))
    rows=cur.fetchall()
    conn.close()
    return rows

In [97]:
insert(104,'dinesh',7.2)

In [103]:
insert(105,'akilesh',9.2)

In [108]:
view()

[(101, 'Ramesh', 9),
 (102, 'Suresh', 8.9),
 (101, 'Ramesh', 9),
 (102, 'Suresh', 8.9),
 (101, 'Ramesh', 9),
 (102, 'Suresh', 8.9),
 (101, 'Ramesh', 9),
 (102, 'Suresh', 8.9),
 (103, 'mahesh', 9.6),
 (104, 'dinesh', 7.2),
 (105, 'akilesh', 9.2)]

In [114]:
def view3(n1,n2):
    conn=sqlite3.connect('myoffice1.db')
    cur=conn.cursor()
    cur.execute('select*from myoff where name=? or name=?',(n1,n2))
    rows=cur.fetchall()
    conn.close()
    return rows

In [115]:
view3('Ramesh','Basha')

[(101, 'Ramesh', 9),
 (101, 'Ramesh', 9),
 (101, 'Ramesh', 9),
 (101, 'Ramesh', 9)]

In [117]:
def view4():
    conn=sqlite3.connect('myoffice1.db')
    cur=conn.cursor()
    cur.execute('SELECT rollno,gpa FROM myoff')
    rows=cur.fetchall()
    conn.close()
    return rows

In [118]:
view4()

[(101, 9),
 (102, 8.9),
 (101, 9),
 (102, 8.9),
 (101, 9),
 (102, 8.9),
 (101, 9),
 (102, 8.9),
 (103, 9.6),
 (104, 7.2),
 (105, 9.2)]

In [5]:
#deleting data from a table
def delete(r):
    conn=sqlite3.connect('myoffice1.db')
    cur=conn.cursor()
    cur.execute('DELETE FROM myoff where rollno=?',(r,))
    conn.commit()
    conn.close()

In [6]:
delete(101)

In [27]:
view()

[(102, 'Suresh', 8.9),
 (102, 'Suresh', 8.9),
 (102, 'Suresh', 8.9),
 (102, 'Suresh', 8.9),
 (103, 'mahesh', 9.6),
 (104, 'dinesh', 7.2),
 (105, 'akilesh', 9.2)]

In [28]:
con=sqlite3.connect('myoffice1.db')

In [29]:
cursorObj=con.cursor()

In [30]:
#update statement
def update(r,g):
    conn=sqlite3.connect("myoffice1.db")
    cur=conn.cursor()
    cur.execute('UPDATE myoff SET gpa=? WHERE rollno=?',(g,r))
    conn.commit()
    conn.close()

In [31]:
update(104,6.5)

OperationalError: database is locked